<div class="container full-container">
  <mat-card class="container-item">
    <mat-card-title>
      <span>Комнаты</span>
      <span class="flex-fill"></span>
      <button mat-icon-button (click)="addRoom()"><mat-icon>add</mat-icon></button>
    </mat-card-title>
    <div *ngFor="let room of myRooms" class="flex">
      <button mat-button (click)="goToRoom(room.Id)">{{room.Name}}<mat-icon *ngIf="room.Master === user.currentUser?.userId">engineering</mat-icon></button>
      <span class="flex-fill"></span>
      <button mat-icon-button (click)="deleteRoom(room.Id)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card>
  <mat-card class="container-item">
    <mat-card-title>
      <span>Герои</span>
      <span class="flex-fill"></span>
      <button mat-icon-button (click)="goTo('hero/new')"><mat-icon>add</mat-icon></button>
    </mat-card-title>
    <div *ngFor="let hero of myHeroes" class="flex">
      <button mat-button (click)="goToHero(hero.Id)">{{hero.Name}}</button>
      <span class="flex-fill"></span>
      <button mat-icon-button (click)="deleteHero(hero.Id)"><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card>
</div>
