<input type="file" class="file-input"
       [accept]="requiredFileType"
       (change)="onFileSelected($event)" #fileUpload>
<mat-action-list>
  <button mat-list-item class="upload-btn" (click)="fileUpload.click()">Добавить</button>
  <span *ngFor="let file of myFiles">
    <button mat-list-item [matMenuTriggerFor]="menuAction" [matMenuTriggerData]="file"> {{file.Name}}</button>
    <mat-menu #menuAction="matMenu">
      <button mat-menu-item *ngFor="let action of actions" (click)="actionEmit(file, action)">{{action.name}}</button>
    </mat-menu>
  </span>
</mat-action-list>

<!--<div>
  <div *ngFor="let file of myFiles">
    <button mat-button (click)="getFile(file.Id)">{{file.Name}}</button>
    <button mat-icon-button (click)="deleteFile(file.Id)"><mat-icon>delete</mat-icon></button>
  </div>
  <div>
    <img [src]="imageToShow">
  </div>
</div>-->
