.flex-fill {
  flex: 1 1 auto;
}
.flex{
  display: flex;
}
.flex-col{
  flex-direction: column;
}
.full-container{
  width: 100vw;
  height: 100vh;
  height: webkit-fill-available;
}
.pretty-font{
  font-family: "Moderne Fette SchwabacherC", serif !important;
}
.input-real{
  border: none;
  background-color: transparent;
}
.input-real:focus{
  outline: none;
}
