<mat-toolbar *ngIf="roomInfo && user.currentUser">
  <span>{{roomInfo.Name}}</span>
  <mat-chip-list>
    <mat-chip *ngIf="roomInfo.state==='pause'">Пауза</mat-chip>
    <mat-chip *ngIf="roomInfo.state==='not_ready'">Подготоввка</mat-chip>
    <mat-chip *ngIf="roomInfo.state==='ready'">Готова к игре</mat-chip>
    <mat-chip *ngIf="roomInfo.state==='game'">Игра</mat-chip>
  </mat-chip-list>
  <span class="flex-fill"></span>
  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="roomInfo.state==='game' && masterMode" (click)="setRoomState('pause')">Пауза</button>
      <button mat-menu-item *ngIf="roomInfo.state==='pause' && masterMode" (click)="setRoomState('game')">Снять паузу</button>
      <button mat-menu-item *ngIf="roomInfo.state==='ready' && masterMode" (click)="setRoomState('game')">Начать игру</button>
      <button mat-menu-item *ngIf="roomInfo.state==='not_ready' && masterMode" (click)="setRoomState('ready')">Готова к игре</button>
    </mat-menu>
  </span>
</mat-toolbar>
<mat-drawer-container class="container" *ngIf="roomInfo && user.currentUser">
  <mat-drawer mode="side" [opened]="!watchMode" position="end">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Список игроков</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-list>
          <button mat-list-item *ngFor="let player of players" (click)="selectPlayer(player)"></button>
          <button mat-list-item (click)="invitePlayer()">Пригласить</button>
        </mat-action-list>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Картинки</mat-panel-title>
        </mat-expansion-panel-header>
        <dice-twice-file-upload [info]="{room:roomInfo.Id}"
                                requiredFileType="image/jpeg,image/png,image/gif"
                                (actionEmited)="emitImageAction($event)"
                                [actions]="[{code:'show',name:'Показать'},{code:'delete',name:'Удалить'}]"
        ></dice-twice-file-upload>
      </mat-expansion-panel>
    </mat-accordion>
    <div *ngIf="masterMode"></div>
    <div *ngIf="playerMode">Меню игрока</div>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="mainShow?.Type === 'image'">
      <img [src]="mainShowData">
    </div>
  </mat-drawer-content>
</mat-drawer-container>
