@import "../../helper";
:host{
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
.right-top-actions{
  position: absolute;
  padding: 16px;
  right: 0;
}
.left-top-actions{
  position: absolute;
  padding: 16px;
  left: 0;
}
.room-head{
  text-align: center;
  padding-top: 12px;
}
.room-title{
  font-family: "Moderne Fette SchwabacherC", serif;
  font-weight: bold;
  font-size: 32px;
}
.room-body{
  flex: 1 1;
}
.room-footer{

}
::ng-deep .mat-dialog-container{
  // background-image: url('/assets/dialog_bg.png');
  background-color: transparent;
  background-size: cover;
  box-shadow: none;
}
