:host{
  display: flex;
}
.player-block{
  padding: 8px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}
.hero-block{
  padding: 4px;
  margin: 4px;
}
.video{
  border-radius: 6px;
  width: 100%;
  height: 100%;
  border: 4px solid black;
  box-sizing: border-box;
  object-fit: cover;
}
.button{
  padding: 4px;
}
.button:hover{
  border-radius: 6px;
  cursor: pointer;
  background-color: rgba(0,0,0,0.2);
}
.player-name{
  font-family: "Moderne Fette SchwabacherC", serif;
  font-size: 20px;
}
