<dice-twice-simple-named-stat-top class="stat" [name]="'Класс брони'" [value]="hero.combat.armorclass" (valueChange)="updateStat('armorclass',$event,'number')"></dice-twice-simple-named-stat-top>
<dice-twice-simple-named-stat-top class="stat" [name]="'Инициатива'" [value]="hero.combat.initiative" (valueChange)="updateStat('initiative',$event,'string')"></dice-twice-simple-named-stat-top>
<dice-twice-simple-named-stat-top class="stat" [name]="'Скорость'" [value]="hero.combat.speed" (valueChange)="updateStat('speed',$event,'number')"></dice-twice-simple-named-stat-top>
