@import "../../helper";
:host{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.input-real{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 26px;
  padding-top: 6px;
  font-weight: bold;
}
.input-real.password{
  padding-top: 10px;
}
.input-real.email{
  padding-top: 10px;
}
.input-real:focus{
  outline: none;
}
.auth-ok-button {
  padding-top: 6px;
}
.auth-ok-button:hover{
  cursor: pointer;
}
.auth-register-button{
  display: flex;
  justify-content: center;
  padding-top: 8px;
}
.auth-register-button:hover{
  cursor: pointer;
}
