<mat-card class="form">
  <mat-card-title>Авторизация</mat-card-title>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Логин</mat-label>
    <input matInput [(ngModel)]="login" autofocus >
  </mat-form-field>
  <mat-form-field class="form-field" appearance="outline">
    <mat-label>Пароль</mat-label>
    <input matInput [(ngModel)]="password" (keyup.enter)="auth()">
  </mat-form-field>
  <button mat-raised-button class="okButton" color="primary" (click)="auth()">Войти</button>
</mat-card>
