<mat-card class="form pretty-font">
  <mat-card-title *ngIf="!registerMode">Авторизация</mat-card-title>
  <mat-card-title *ngIf="registerMode">Регистрация</mat-card-title>
  <mat-form-field class="form-field pretty-font" appearance="outline">
    <mat-label>Логин</mat-label>
    <input matInput [(ngModel)]="login" autofocus >
  </mat-form-field>
  <mat-form-field class="form-field pretty-font" appearance="outline" *ngIf="registerMode">
    <mat-label>Email</mat-label>
    <input matInput type="email" [(ngModel)]="email" (keyup.enter)="auth()">
  </mat-form-field>
  <mat-form-field class="form-field pretty-font" appearance="outline">
    <mat-label>Пароль</mat-label>
    <input matInput type="password" [(ngModel)]="password" (keyup.enter)="auth()">
  </mat-form-field>
  <button mat-raised-button *ngIf="!registerMode" class="okButton pretty-font" color="accent" (click)="auth()">Войти</button>
  <button mat-button *ngIf="!registerMode" class="okButton pretty-font" color="primary" (click)="registerMode = true">Регистрация</button>
  <button mat-raised-button *ngIf="registerMode" class="okButton pretty-font" color="accent" (click)="register()">Ок</button>
  <button mat-button *ngIf="registerMode" class="okButton pretty-font" color="primary" (click)="this.registerMode = false">Отмена</button>
</mat-card>
