@import "../../helper";
:host{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.form{
  min-width: 300px;
  max-width: 80vw !important;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none;
  color: #c1a787 !important;
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.55);
}
.form-title{
  text-align: center;
  font-size: 36px;
}
::ng-deep .okButton .mat-form-field-outline {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.55);
  border-radius: 6px;
  //border: 2px solid #C1A787;
}
::ng-deep .okButton .mat-button{
  text-shadow: 1.5px 1.5px 0 rgba(0, 0, 0, 0.55);
}
.okButton{
  margin-bottom: 8px;
}
.form-field{
  text-align:center;
  justify-content: center;
  align-items: center;
}
::ng-deep .form-field .mat-input-element{
  text-align: center;
  font-family: 'Roboto', serif;
  background-color: transparent !important;
}
::ng-deep .form-field .mat-form-field-outline-gap {
  padding-left: 8px;
}
