@import "../helper";
.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow: scroll;
}
.container-image{
  background-image: url("../assets/background.png");
  background-size: cover;
}
.main-menu{
  position: absolute;
  z-index: 9999;
}
