@import "../helper";
.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-color: rgba(103, 58, 183, 0.16);
}
.main-menu{
  position: absolute;
  z-index: 9999;
}
