<dice-twice-auth-form *ngIf='!userService.currentUser'></dice-twice-auth-form>
<div *ngIf="userService.currentUser" class="container">
  <div class="side-line">
    <button mat-icon-button class="side-button" (click)="goTo('/')"><mat-icon>home</mat-icon></button>
    <button mat-icon-button class="side-button" (click)="goTo('master')"><mat-icon>developer_board</mat-icon></button>
    <button mat-icon-button class="side-button" (click)="goTo('room/1')"><mat-icon>meeting_room</mat-icon></button>
    <button mat-icon-button class="side-button" (click)="goTo('hero/new')"><mat-icon>person</mat-icon></button>
    <span class="flex-fill"></span>
    <button mat-icon-button class="side-button" (click)="userService.logout()"><mat-icon>logout</mat-icon></button>
  </div>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
