<div class="room-scene-files">
  <div class="room-scene-files-tile" *ngFor="let file of files; let i=index;"
       (mouseenter)="showCloseIndex = i"
       (mouseleave)="showCloseIndex = undefined">
    <mat-icon *ngIf="showCloseIndex === i" class="room-scene-files-tile-close" (click)="removeImage(i)">cancel</mat-icon>
    <img class="room-scene-files-tile" alt="нечего тут смотреть" [src]="file.file" (click)="setMainImage(i)">
  </div>
  <ngx-file-drop #filedrop class="room-scene-files-tile file-drop" dropZoneLabel="+" (onFileDrop)="dropped($event)" (click)="openImport()"></ngx-file-drop>
</div>
