.baseDialog{
  background: transparent;
}
.dialog-container{
  width: 558px;
  height: 306px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dialog-title{
  width: 430px;
}
.input-real{
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 26px;
  padding-top: 6px;
  font-weight: bold;
  margin-top: 64px;
}
.input-real:focus{
  outline: none;
}
.input-real-stroke{
  width: 80%;
  margin-top: 16px;
  margin-left: 32px;
}
.buttons-container{
  width: 100%;
  display: flex;
  margin-top: 52px;
  align-items: center;
  justify-content: center;
}
.button{
  height: 46px;
  //width: 100%;
  width: 210px;
  z-index: 100;
}
.ok{

}
.cancel{
  margin-left: 64px;
}
